/*
font-family: 'Gilroy';
font-family: 'Playfair Display', serif;
*/ 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');

body{
    font-family: 'Gilroy';
    background-color: #0B1D26;
    background-image: url('../img/bg/bg.jpg'); 
    background-size: 100% auto; 
    background-repeat: no-repeat; 
    color: #FFFFFF;
}

/* BASE */ 

.container-wide{
    margin: 0 auto; 
    width: 1790px; 
    padding: 0 15px; 
}

.row{
    display: flex; 
}

.space-between{
    justify-content: space-between;
}


/* HEADER */ 

.header{
    padding-top: 64px; 
    padding-bottom: 843px; 
}

.logo{
    font-family: 'Playfair Display', serif;
    font-size: 32px; 
    font-weight: 700; 
 
}

/* NAV */ 

.nav{
    margin-bottom: 198px; 
}

.nav-menu {
}
.nav-list {
    list-style-type: none; 
    display: flex; 
    gap: 40px; 
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
   
}
.nav-item {
}
.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.nav-link:hover{
    color: #FBD784; 
}


.account{
    font-family: 'Gilroy';
font-size: 17px;
font-weight: 700; 
text-decoration: none;
color: #fff; 
transition: color 0.2s ease-in; 
}

.account:hover{
    color: #FBD784; 
}

.hero {
    display: block; 
    max-width: 980px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 15px; 
    padding-right: 15px; 
    text-decoration: none; 
    transition: transform 0.8s cubic-bezier(0.085, -0.600, 0.755, 1.650);; 
}

.hero:hover{
    transform: translateY(-5%)
}

.hero__category {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    position: relative; 
    padding-left: 104px; 
    margin-bottom: 32px; 
}

.hero__category::before{
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    content: ""; 
    width: 72px; 
    height: 2px; 
    display: block; 
    background-color: #FBD784;
}


.hero__title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 1.14;
    text-transform: capitalize;
    color: #fff; 
    margin-bottom: 32px; 
}

.hero__scroll {
    display: inline-block; 
    position: relative; 
    width: 94px;
    height: 22px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
}

.hero__scroll::after{
    display: block; 
    width: 16px; 
    height: 24px; 
    content:""; 
    position: absolute; 
    top: 10%;
    right: -20px;
    background-image: url('../img/icons/arrow_down.svg');
}
