/*
font-family: 'Gilroy';
font-family: 'Playfair Display', serif;
*/ 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');

body{
    font-family: 'Gilroy';
    background-color: #0B1D26;
    background-image: url('../img/bg/bg.jpg'); 
    background-size: 100% auto; 
    background-repeat: no-repeat; 
    color: #FFFFFF;
}

/* BASE */ 

.container-wide{
    margin: 0 auto; 
    max-width: 1790px; 
    padding: 0 15px; 
    
}

.row{
    display: flex; 
    align-items: center; 
}

.space-between{
    justify-content: space-between;
}


/* HEADER */ 

.header{
    padding-top: 64px; 
    padding-bottom: 600px;
}

.logo{
    font-family: 'Playfair Display', serif;
    font-size: 32px; 
    font-weight: 700; 
 
}

/* NAV */ 

.nav{
    margin-bottom: 198px; 
}

 
.nav-list {
    list-style-type: none; 
    display: flex; 
    gap: 40px; 
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
   
}
 
.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.nav-link:hover{
    color: #FBD784; 
}


.account{
position: relative; 
    font-family: 'Gilroy';
font-size: 17px;
font-weight: 700; 
text-decoration: none;
color: #fff; 
transition: color 0.2s ease-in; 
padding-left: 30px; 
}


.mobile-nav__button{
    display: none; 
    cursor: pointer; 
}

.nav-button__icon{
    position: relative; 
    display: block; 
    background-color: #fff; 
    width: 42px; 
    height: 6px; 
    border: none; 
}

.nav-button__icon::before{
    position: absolute; 
    top: -10px; 
    left: 0px; 
    content: ""; 
    display: block; 
    background-color: #fff; 
    width: 42px; 
    height: 6px; 
    border: none; 
}

.nav-button__icon::after{
    position: absolute; 
    top: 10px; 
    left: 0px; 
    content: ""; 
    display: block; 
    background-color: #fff; 
    width: 42px; 
    height: 6px; 
    border: none; 
}

.mobile-nav__button-close .nav-button__icon{
    background-color: transparent; 
}

.mobile-nav__button-close .nav-button__icon::before{
    transform: rotate(45deg); 
    top: 0; 
}

.mobile-nav__button-close .nav-button__icon::after{
    transform: rotate(-45deg); 
    top: 0; 
}


.mobile-nav{
    position: fixed; 
    top: 0; 
    right: 0; 
    z-index: 8;
    display: none; 
    flex-direction: column; 
    width: 320px; 
    height: 100%; 

 
    background-color: #22211f; 
    opacity: 0.5; 
    
}



.account:hover{
    color: #FBD784; 

}

.account::before{
    width: 20px; 
    height: 20px; 
    content: ""; 
    display: block; 
    position: absolute; 
    left: 0; 
    top: 0; 
    background-image: url('../img/icons/account.svg'); 

}

.hero {
    display: block; 
    max-width: 980px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 15px; 
    padding-right: 15px; 
    text-decoration: none; 
    transition: transform 0.8s cubic-bezier(0.085, -0.600, 0.755, 1.650);; 
}

.hero:hover{
    transform: translateY(-5%)
}

.category__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 6px;

    font-family: 'Gilroy';
    font-style: normal;


    text-transform: uppercase;
    color: #FBD784;
    position: relative; 
    padding-left: 104px; 
    margin-bottom: 32px; 
}

.category__title::before{
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    content: ""; 
    width: 72px; 
    height: 2px; 
    display: block; 
    background-color: #FBD784;
}


.hero__title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 1.14;
    text-transform: capitalize;
    color: #fff; 
    margin-bottom: 32px; 
}

.hero__scroll {
    display: inline-block; 
    position: relative; 
    width: 94px;
    height: 22px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
}

.hero__scroll::after{
    display: block; 
    width: 16px; 
    height: 24px; 
    content:""; 
    position: absolute; 
    top: 10%;
    right: -20px;
    background-image: url('../img/icons/arrow_down.svg');
}

/* MAIN */ 
.container{
    max-width: 1492px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 15px; 
    padding-right: 15px; 
}

/* Article */ 

.article {
    margin-top: 200px; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}
.article__txt-block {
 
    padding-left: 150px; 
 
}

.article__title {
 
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #fff; 
    margin-bottom: 27px; 
    padding-right: 77px; 
}
.article__subtitle {
}
.article__text {
    position: relative; 
    max-width: 632px;
    height: 160px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 27px; 
}

.article__text::before{
    position: absolute; 
    top: -334px;
    left: -145px;  
    /* top: -50%; 
    transform: translateY(-50%);  */
 
    display: block; 
    content: attr(data-number); 
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    width: 240px; 
    height: 240px; 
    font-size: 240px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.1);

}

.read-more {
    display: inline-block; 
    position: relative; 
    width: 87px;
    height: 22px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #FBD784;

}

.read-more::after{
    display: block; 
    width: 24px; 
    height: 16px; 
    content:""; 
    position: absolute; 
    top: 10%;
    right: -35px;
    background-image: url('../img/icons/arrow_right.svg');
}


.article-img {
   width: 566px; 
   height: 720px; 
}

 


/* FOOTER */ 

.footer {
    padding-bottom: 120px; 
}

.footer-flex{
    display: flex; 
    justify-content: space-between;
}
 
.footer__copyrights {
    height: 280px; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    
}


.footer__copyrights-logo {
    margin-bottom: 24px; 
}

.footer__copyrights-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.footer__copyrights-copy {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: auto; 
  
}

.footer__nav-title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3; 
    color: #FBD784;
    margin-bottom: 20px; 
}


.footer__nav {
   
 
}

.footer__nav-list{

    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.footer__nav-list > li{
    margin-bottom: 20px; 
}

.footer__nav-list > li:hover{
    opacity: 0.7; 
}

.footer__nav-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3; 

    color: #FFFFFF;
}